body{
    background-image: url(../img/fondo03.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;
    background-color: rgb(38, 32, 32);
}