*{
    margin: 0;
    padding: 0;
}
body{
    font-size: 80%;
}
h1{
    font-size: 1.6em;
}
h2{
    font-size: 1.5em;
}
h3{
    font-size: 1.4em;
}
p{
    font-size: 1em;
}

.chico{
    font-size: 0.8em;
}

/* TABLET 768px -> 48em*/
@media screen and (min-width:48em){
    body{
        background-color: chocolate;
        font-size: 90%;
    }
}

/* PCs arrancan en 1024px -> 60em */
@media screen and (min-width:64em) {
    body{
        background-color: aquamarine;
        font-size: 100%;
    }
}





